.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    text-align: center;
    display: block;
}
.table{
    margin:4px;
}
th{
    border:2px solid black;
}
td{
    border:2px solid black;
}
.item{
    background-color: #EFEFEF;
    color: black;
    padding: 14px 28px;
    margin: 2px;
    font-weight: 600;
}
.item_C{
    background-color: red;
    color: #EFEFEF;
}
.equal{
    grid-area: ee;
    background-color: #EFEFEF;
    padding: 20px 0;
    margin: 4px 0;
    font-weight: 600;
    cursor: pointer;
}